activesoup==0.3.2
altgraph==0.17.4
attrs==23.2.0
auto-py-to-exe==2.42.0
beautifulsoup4==4.12.2
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chromedriver-py==120.0.6099.109
click==8.1.7
colorama==0.4.6
Eel==0.16.0
email-scraper==0.4
exceptiongroup==1.2.0
fake-headers==1.0.2
filelock==3.13.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
idna==3.6
importlib-metadata==7.0.1
lxml==5.0.0
numpy==1.24.4
outcome==1.3.0.post0
packaging==23.2
pandas==2.0.3
pefile==2023.2.7
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pyparsing==3.1.1
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5-tools==5.15.9.3.3
PyQt5Designer==5.14.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
requests-file==1.5.1
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
tldextract==5.1.1
tlds==2023121200
trio==0.23.2
trio-websocket==0.11.1
typing-extensions==3.10.0.2
tzdata==2023.4
urllib3==2.1.0
webdriver-manager==4.0.1
webencodings==0.5.1
whichcraft==0.6.1
wsproto==1.2.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
